.profile__edit-button {
    background-image: url(../../../images/Edit_Button.svg);
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    transition: opacity .3s ease-in;
    margin-left: 18px;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 991px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}