.header__nav {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

@media screen and (max-width: 991px) {
  .header__nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }
}
