.profile__avatar {
    background-image: url(../../../images/avatar.jpg);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 0 30px 0 0;
}

@media screen and (max-width: 991px) {
    .profile__avatar {
        margin: 0;
    }
}